# Backend ENV example
# Rename to .env
PORT=4000
DATABASE_URL="postgresql://habesha:habesha@localhost:5432/habesha?schema=public"
JWT_SECRET="changeme-very-strong"
# Payment Providers
WEBIRR_API_KEY=""
WEBIRR_MERCHANT_ID=""
TELEBIRR_APP_ID=""
TELEBIRR_APP_KEY=""
CHAPA_SECRET_KEY=""
BACKEND_URL="http://localhost:4000"
WEB_URL="http://localhost:3000"
